/* Clock and calendar theme configuration file */

.BE--Clock {
  color: rgba(255,255,255,100%);
/*  font-size: 16px;*/
  padding: 4 8 0 8;
}

.BE--Clock:hover {
  background-color: rgba(125,118,109,50%);
}
