/*TilePanel general settings*/

#TilePanel {
    background-color: transparent;
}

/*Tiles specific settings*/

#settings, #network, #fs, #notify {
    background-color: rgba(200,200,200,100%);
    color: rgba(0,0,0,100%);
    min-height: 50px;
    max-height: 50px;
    max-width: 100px;
    border: none;
}

#network {
    margin: 2 1 2 2;
}

#settings, #fs {
    margin: 2 1 2 1;
}

#notify {
    margin: 2 2 2 1;
}
